
    

    img{  
      width: 50%;
height: 50%;
border-radius: 65px;
background: #c7620f;

           padding:2px;
           position: left;
      }  #center {  
        text-align: center; 
         
        }