 button {
                background: #FBCA1F;
                font-family: inherit;
                padding: 0.6em 1.3em;
                font-weight: 900;
                font-size: 18px;
                border: 3px solid rgba(0, 0, 0, 0.808);
                border-radius: 0.4em;
                box-shadow: 0.1em 0.1em;
                padding:2px;
               }
               
               button:hover {
                transform: translate(-0.05em, -0.05em);
                box-shadow: 0.15em 0.15em;
                
               }
               
               button:active {
                transform: translate(0.05em, 0.05em);
                box-shadow: 0.05em 0.05em;
               }







               /* From cssbuttons.io by @westitan */
/* From cssbuttons.io by @Gumpack */
    
   .btn {
    border-radius: 99px;
    background: #c7620f;
    box-shadow:  -22px -22px 44px #502706,
                 22px 22px 44px #ff9d18;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: orange;
    font-family: 'Bahiana', sans-serif;
    display: block;
    border: 0px;
    zoom:150%;
    left: 5px;
    font-weight: 700;
   }
   

   .btne {
    border-radius: 99px;
    background: #c7620f;
    box-shadow:  -22px -22px 44px #502706,
                 22px 22px 44px #ff9d18;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: orange;
    font-family: 'Bahiana', sans-serif;
    display: block;
    border: 0px;
    zoom:150%;
    width: 120px;
    left: 5px;
    font-weight: 700;
   }
   


   .btn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: orange;
    text-decoration: none;
   }
   
   .btn:active {
    transform: scale(0.95);
   }


   .btne:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: orange;
    text-decoration: none;
   }
   
   .btne:active {
    transform: scale(0.95);
   }


   #loginbutton
 {
    display: inline;
 
    color: orange;
   
    text-align: center;
    background-color: black;

    margin: 10px;
    
}




   #signupbutton {
       display: inline;
    
       color: orange;
      
       text-align: center;
       background-color: black;
   
       margin: 20px;
       
   }
   
   #buttonzone{
    font-family: 'Bahiana', sans-serif;
   background-color:#ff9d18;
   color: #ff9d18;
  left: 70px;
    text-align: center; 
   }
