.card {
    width: 1090px;
    height: 700px;
    background: rgb(213, 130, 6);
    background: linear-gradient(344deg, rgb(248, 124, 0) 0%, rgb(0, 0, 0) 50%);
    box-shadow: 4px 6px 14px #f88a04;
    border-radius: 3px;
    color: #f13f03;
    padding: 16px;
    transition: all .3s;
top:30px;

   }


.menu{
    width: 1050px;
    height: 200px;
    background: rgb(213, 130, 6);
    background: linear-gradient(344deg, rgb(248, 124, 0) 0%, rgb(0, 0, 0) 50%);
    box-shadow: 4px 6px 14px #f88a04;
    border-radius: 3px;
    color: #F9F9F9;
    padding: 16px;
    transition: all .3s;

}

.men{
    width: 1050px;
    height: max-content;    background: rgb(213, 130, 6);
    background: linear-gradient(344deg, rgb(248, 124, 0) 0%, rgb(0, 0, 0) 50%);
    box-shadow: 4px 6px 14px #f88a04;
   
    color: #F9F9F9;
    padding: 16px;
    transition: all .3s;

}
   


   div{

       color: gold;
       font-family: 'Bahiana', sans-serif;
       font-weight: 700;
       border-radius: 99px;
       font-weight: 900;
       font-size: 25px;
   }
   input{
  background-color: black;
  color: gold;
  width: 350px;
  height: 30px;
  }
    
.form-control{
  display: inline;
  margin: 0.1%;
}


#Nome{
    display: inline;
    margin: 4.3%;
  }
  
  #Cognome{
    display: inline;
    margin: 4.5%;
  }

  #Numerocivico{
    display: inline;
    margin: 2.2%;
  }
  


  #Sesso{
    display: inline;
    margin: 5.7%;
  }

  #Via{
    display: inline;
    margin: 4.8%;
  }

  #Cap{
    display: inline;
    margin: 3.2%;
  }



  #Comune{
    display: inline;
    margin: 3.5%;
  }


  #Trav
  {
    display: inline;
    margin: 3.4%;
  }

 #Nascita{
    display: inline;
    margin: 5.2%;
  }
  #Nazione{
    display: inline;
    margin: 3.8%;
  }


  #Cf{
    display: inline;
    margin: 3.3%;
  }
  #email{
    display: inline;
    margin: 4.2%;
  }

  #Password{
    display: inline;
    margin: 3.9%;
  }

  #register{
      text-align: center;
      height: auto;
  }
  #buttonzone{
   
    left: 70px;
      text-align: center; 
     }

     #loginbutton {
        display: inline;
     
        color: orange;
       
        text-align: center;
        background-color: black;
    
        margin: 10px;
        
    }

    button {
        background: #FBCA1F;
        font-family: inherit;
        padding: 0.6em 1.3em;
        font-weight: 900;
        font-size: 18px;
        border: 3px solid black;
        border-radius: 0.4em;
        box-shadow: 0.1em 0.1em;
        padding:2px;
       }
       
       button:hover {
        transform: translate(-0.05em, -0.05em);
        box-shadow: 0.15em 0.15em;
        
       }
       
       button:active {
        transform: translate(0.05em, 0.05em);
        box-shadow: 0.05em 0.05em;
       }

 .btn {
    border-radius: 99px;
    background: #c7620f;
    box-shadow:  -22px -22px 44px #502706,
                 22px 22px 44px #ff9d18;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: orange;
    font-family: 'Bahiana', sans-serif;
    display: block;
    border: 0px;
    zoom:150%;
    left: 5px;
    font-weight: 700;
   }
   
   .btn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: orange;
    text-decoration: none;
   }
   
   .btn:active {
    transform: scale(0.95);
   }


