
<div style="margin-top: 60%"></div>

<div class="d-flex align-items-center justify-content-center" style="height: 650px">
    <div class ="card">        
        <div class="d-flex align-items-center justify-content-center" style="height: 10px"> 
            <div style='margin-top:30px;'></div>
        <div class="user"
        style="width:1000px;"
        
        id="register">
   
            <a>L</a><div style='margin:2%;'></div>
            <a>O</a><div style='margin:2%;'></div>
            <a>G</a><div style='margin:2%;'></div> 
            <a>I</a><div style='margin:2%;'></div>
            <a>N</a>         
            </div>
            <div style='margin-top:30px;'></div>
            
        </div>
    
        <div style='margin-top:20%;'></div>
        
        <form [formGroup]="addUser" (ngSubmit)="OnSubmit()">
    
    
            
       
            <div style='margin-top:20%;'></div>
              
           
            <div id = "Email">E-mail
         
            <div style ='color:rgb(255, 255, 255)'></div>
            


            
         
        </div>  

        <input type="text" style='margin-top:20px;' formControlName = "Email">


        


        
           <div id = "Password" style='margin-top:20px;'>Password

           <div style ='color:black'></div>
           <div style='margin-top:30px;'></div>


  <div style='margin-top:40px;'></div>
 
      </div>
       <input type="text" style='margin-top:20px;'formControlName = "Passwordd">
        
       
          <div id="buttonzone">




            
         
            <button class="btn" id="loginbutton"
            type="submit">Sign In</button>
          
          </div>
        
        </form>
    </div>
    
    </div>